<%- include('header'); -%>

<div class="wrapper">
  <div class="background-container">
    <div class="bg-1"></div>
    <div class="bg-2"></div>
  </div>
  <div class="about-container">
    <div class="image-container">
      <img
        src="https://img.freepik.com/free-vector/job-interview-conversation_74855-7566.jpg?t=st=1681699593~exp=1681700193~hmac=fd03b237a0163c76bde25fd3b2dcb4aae1a34cfcd5e2be0d5aeec4eaeab21c75"
        alt=""
      />
    </div>

    <div class="text-container">
      <h1>About us</h1>
      <p>
        We are HireVu woring for make your dream come true, providing you with
        all the latest job opportunities available in the market and be on the
        front page with us.
      </p>
      <a href="/">Read More</a>
    </div>
  </div>
</div>

<div class="container mx-auto px-4 mt-8">
  <div class="flex flex-wrap justify-center text-center mb-24">
    <div class="w-full lg:w-6/12 px-4">
      <h2 class="text-4xl font-semibold">Here are our heroes</h2>
      <p class="text-lg leading-relaxed m-4 text-slate-500">
       We are woring hard to make your dreams come true.
      </p>
    </div>
  </div>
  <div class="flex flex-wrap">
    <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
      <div class="px-6">
        <img
          alt="..."
          src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-1-800x800.jpg"
          class="shadow-lg rounded-full max-w-full mx-auto"
          style="max-width: 120px"
        />
        <div class="pt-6 text-center">
          <h5 class="text-xl font-bold">Ryan Tompson</h5>
          <p class="mt-1 text-sm text-slate-400 uppercase font-semibold">
            Web Developer
          </p>
          <div class="mt-6">
            <button
              class="bg-sky-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-twitter"></i></button
            ><button
              class="bg-sky-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-facebook-square"></i></button
            ><button
              class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-dribbble"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
      <div class="px-6">
        <img
          alt="..."
          src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg"
          class="shadow-lg rounded-full max-w-full mx-auto"
          style="max-width: 120px"
        />
        <div class="pt-6 text-center">
          <h5 class="text-xl font-bold">Romina Hadid</h5>
          <p class="mt-1 text-sm text-slate-400 uppercase font-semibold">
            Marketing Specialist
          </p>
          <div class="mt-6">
            <button
              class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-google"></i></button
            ><button
              class="bg-sky-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-facebook-square"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
      <div class="px-6">
        <img
          alt="..."
          src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-3-800x800.jpg"
          class="shadow-lg rounded-full max-w-full mx-auto"
          style="max-width: 120px"
        />
        <div class="pt-6 text-center">
          <h5 class="text-xl font-bold">Alexa Smith</h5>
          <p class="mt-1 text-sm text-slate-400 uppercase font-semibold">
            UI/UX Designer
          </p>
          <div class="mt-6">
            <button
              class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-google"></i></button
            ><button
              class="bg-sky-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-twitter"></i></button
            ><button
              class="bg-slate-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-instagram"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
      <div class="px-6">
        <img
          alt="..."
          src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-4-470x470.png"
          class="shadow-lg rounded-full max-w-full mx-auto"
          style="max-width: 120px"
        />
        <div class="pt-6 text-center">
          <h5 class="text-xl font-bold">Jenna Kardi</h5>
          <p class="mt-1 text-sm text-slate-400 uppercase font-semibold">
            Founder and CEO
          </p>
          <div class="mt-6">
            <button
              class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-dribbble"></i></button
            ><button
              class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-google"></i></button
            ><button
              class="bg-sky-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-twitter"></i></button
            ><button
              class="bg-slate-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
              type="button"
            >
              <i class="fab fa-instagram"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
